*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkblue;
    width: 100%;
}
.main-container{
    display: flex;
    width: 65%;
    position: absolute;
    left: 0; right: 0; margin: auto;padding: 0; top: 0; bottom: 0;
    
}
.color-box{
   width: 400px;
   height: 400px;
   background-color: aqua; 
   border-radius: 10px;
}
.box-child1{
    display: flex;
}
img{
    position: relative;
    margin-top: 20px;
}
label{
    position: relative;
    padding-left: 10px;
    font-size: 18px;
    
}
select{
    width: 200px;
    height: 25px;
    position: relative;
    margin-left: 15px;
    margin-top: 23px;
}
.line{
    padding-left: 18px;
    font-size: 30px;
    padding-top: 10px;
}
.alarm{
    width: 400px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
}
.setwak{
    margin-left: 80px;
    color: hotpink;
}
.changer{
    width: 200px;
    height: 30px;
    background-image: linear-gradient(to left, blue,yellow);
    border-radius: 3px;
}
.setalarm{
    margin-left: 50px;
    color: white;
}
.changer:hover{
    background-image: linear-gradient(to left,yellow,hotpink 50%);
}
.side-box{
    width: 150px;
    height: 100px;
    background-color: blueviolet;
    opacity: 70%;
    border-radius: 5px;
    margin-left: 50px;
    color: white;
}
.changer-side{
    position: relative;
    margin-top: 10px;
    display: flex;
}
.child1{
    width: 400px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 4;
}
.child2{
    width:390px;
    height: 100px;
    position: absolute;
    align-content: center;
    background-color:yellow;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 30px;
    z-index: 3;
  
}
.child3{
    width: 380px;
    height: 100px;
    background-color: red;
    position: relative;
    border-radius: 10px;
    margin-left: 33px;
    margin-top: 40px;
    z-index: 2;
}
.image{
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    
}

.beautiful{
    width: 400px;
    height: 40px;
    margin-left: 20px;
    background-color: hotpink;
    margin-top: 20px;
    
    border-radius: 5px;
}
span{
    font-size: 30px;
    color: rgb(50, 252, 19);
    font-weight: bold;
    margin-left: 75px;
}
.timing{
    display: flex;
    margin-top: 27px;
    margin-left: 10px;
}
.hours{
    width: 50px;
    height: 50px;
    color: black;
    background-color: rgb(226, 169, 197);
    margin-left: 30px;
}
.mint{
    width: 50px;
    height: 50px;
    color: black;
    background-color: rgb(226, 169, 197);
    margin-left: 10px;
}

.sec{
    width: 50px;
    height: 50px;
    background-color: rgb(226, 169, 197);
    color: black;
    margin-left: 10px;
}
h1{
 margin-left: 10px;
 align-items: center;
 
}
@media screen and (min-width:250px) and (max-width:700px){
    .main-container{
        flex-direction: column;
    }
    .child1{
        margin-left: -25px;
    }
    .child2{
        margin-left: -17px;
    }
    .child3{
        margin-left: -14px;
    }
    .color-box{
        margin-left: -25px;
    }
    .alarm{
        margin-left: -25px;
    }
    .changer{
        margin-left: -25px;
    }
    .side-box{
        margin-left:-70px;
        margin-top: 40px;
        width: 160px;
        height: 120px;
    }
    .image{
        margin-left: -25px;
    }
    .beautiful{
        margin-left: -25px;
    }
    


    
}








